<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<script>
 function generatePass(){
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789@#$&^";
        var pass = "";
        for (var i=0;i<8;i++){
            var randomNumber = Math.floor(Math.random() * chars.length);
            pass += chars.substring(randomNumber, randomNumber+1 );
        }
     document.getElementById("password").value = pass
}
    function check(){
    var chars1 = document.getElementById("streetName").value;
    var chars2 = document.getElementById("city").value;
    if (chars1.search(/[^a-zA-Z]+/) !=-1  || chars2.search(/[^a-zA-Z]+/) !=-1 ) {
    alert("Only characters allowed in Street Name and City");
    return false;
    }
    return true;
   }
</script>

<style>
html {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.register-box {
  position: absolute;
  margin-top: 12px;
  top: 60%;
  left: 50%;
  width:600px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.register-box h2 {
  color: #fff;
  text-align: center;
}


</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  th:href="@{/}">Home </a>
            <a class="navbar-brand"  th:href="@{/admin/addBuildManagerForm}">Add Manager </a>
            <a class="navbar-brand"  th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">

    <div class="register-box">
        <h2>Building Manager</h2>
        <div class="col-md-6 col-md-offset-3">
            <form onsubmit="return check()" th:action="@{/admin/addBuildManager}" method="post" th:object="${buildingManager}">
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="buildManagerName"> Building Manager Name </label >
                    <input id="buildManagerName" class="form-control" th:field="*{buildManagerName}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="streetName"> Street Name</label>
                    <input type="text" id="streetName" class="form-control" th:field="*{streetName}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="streetNumber"> Street Number</label>
                    <input type="number" id="streetNumber" class="form-control" th:field="*{streetNumber}" required autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="city">City</label>
                    <input type="text" id="city" class="form-control" th:field="*{city}" required autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="postalCode">Postal-Code</label>
                    <input type="number" id="postalCode" class="form-control" th:field="*{postalCode}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="contact">Contact </label>
                    <input type="number" id="contact" class="form-control" th:field="*{contact}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="username">Username</label>
                    <input id="username" class="form-control" th:field="*{username}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="button" style="color: white; background-color: black" onclick="generatePass()">Generate Password</button>
                    <input type="password" id="password" class="form-control"  th:field="*{password}"   required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <a style="color: white;"  th:href="@{/}">
                        <button type="button" class="btn btn-danger col-sm-offset-3">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-success col-offset-5">Save</button>
                </div>

            </form>
        </div >
    </div>

</div>
</body>

</html>