<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:margin-inline-start="http://www.w3.org/1999/xhtml" xmlns:margin-inline-end="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Registration Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
html {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
  .row {
        color: white;
        padding: 10px;
        font-family: Sans-Serif;
    }

    tbody tr:nth-of-type(even) {
   background-color: #34495e;
}

thead{

 background: #2e8b57;
}

</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" sec:authorize="hasAuthority('BUILDMANAGER')" th:href="@{/manager/0}">Home </a>
            <a class="navbar-brand" sec:authorize="hasAuthority('COOWNERREP')" th:href="@{/coowner_rep}">Home </a>
            <a class="navbar-brand" sec:authorize="hasAuthority('BUILDMANAGER')" th:href="@{/manager/addBuildComplexForm}">Add Building </a>
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container" style="height: 100vh;">
    <br/>
    <h3 class="text-center" style="color:white;"> Unit Details</h3>
    <div class="d-flex justify-content-end">
        <button style="background-color:red" th:if="${unit.coOwner==null}" sec:authorize="hasAuthority('COOWNERREP')">  <a  style="color:white;" th:href="@{/coowner_rep/addCoOwnerForm/}+${unit.unitId}">Add CoOwner</a></button>
        <button style="background-color:red" th:if="${unit.coOwner}" sec:authorize="hasAuthority('COOWNERREP')">  <a  style="color:white;" th:href="@{/coowner_rep/addCoOwnerForm/}+${unit.unitId}">Update CoOwner</a></button>
    </div>
    <br/>
    <div class="table-container" >
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <td style="color:white;"scope="col py-2">#</td>
                <td style="color:white;" scope="col">CoOwner Name</td>
                <td style="color:white;" scope="col">Contact</td>
                <td style="color:white;" scope="col">No of Tenants</td>
                <td style="color:white;" scope="col">Area Sqr Meter</td>
                <td style="color:white;" scope="col">Unit Type</td>
                <td style="color:white;" scope="col" sec:authorize="hasAuthority('BUILDMANAGER')">Actions</td>
            </tr>
            </thead>

            <tbody>

            <tr class="text-center">
                <td style="color:white;" scope="row" th:text="${unit.unitId}">1</td>
                <td style="color:white;" th:text="${unit.coOwner?.coOwnerName}">CoOwner Name</td>
                <td style="color:white;" th:text="${unit.coOwner?.contact}">Contact</td>
                <td style="color:white;" th:text="${unit.noOfTenants}">No of Tenants</td>
                <td style="color:white;" th:text="${unit.areaSqrMeter}">Area Sqr Meter</td>
                <td style="color:white;" th:text="${unitTypeName}">Unit Type</td>
                <td sec:authorize="hasAuthority('BUILDMANAGER')">
                    <button style="background-color:red" sec:authorize="hasAuthority('BUILDMANAGER')">  <a style="color:white;" class="fw-bold"   th:href="@{/manager/updateUnit/}+${unit.unitId}">Update</a></button>
                    <button style="background-color:red" sec:authorize="hasAuthority('COOWNERREP')">  <a style="color:white;" class="fw-bold"   th:href="@{/coowner_rep/updateUnit/}+${unit.unitId}">Update</a></button>
                    <button style="background-color:black">   <a style="color:white;" class="fw-bold" th:href="@{/manager/addExpenseForm/}+${unit.unitId}+@{/}+${buildComplexId}">Add Expense</a></button>
                    <button style="background-color:black">  <a style="color:white;" class="fw-bold" th:href="@{/manager/addIncomeForm/}+${unit.unitId}+@{/}+${buildComplexId}">Add Income</a></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div sec:authorize="hasAuthority('BUILDMANAGER')">
           <span style="float:left;">
                 <p style="color:white; ">Search for a period</p>
                    <form th:action="@{/manager/viewUnit/}+${unit.unitId}+@{/0}+@{/0}" method="get">
                        <input type="date"  name="startDate1" placeholder="Start Date" >
                        <input type="date"  name="endDate1" placeholder="End Date" >
                        <button class="btn btn-success" type="submit">Go</button>
                        <button class="btn btn-danger" type="submit">Reset</button>
                    </form>
           </span>
           <span style="float:right;">
               <form th:action="@{/manager/unitReport/}+${unit.unitId}" method="post" >
                   <p style="color:white; ">Print Report</p>
                   <button class="btn btn-danger" type="submit" >Print</button>
               </form>
           </span>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div  sec:authorize="hasAuthority('COOWNERREP')">
           <span style="float:left;">
                 <p style="color:white; ">Search for a period</p>
                    <form th:action="@{/coowner_rep/viewUnit/}+${unit.unitId}+@{/0}+@{/0}" method="get">
                        <input type="date"  name="startDate1" placeholder="Start Date" >
                        <input type="date"  name="endDate1" placeholder="End Date" >
                        <button class="btn btn-success" type="submit">Go</button>
                          <button class="btn btn-danger" type="submit">Reset</button>
                    </form>
           </span>
        <span style="float:right;">
               <form th:action="@{/coowner_rep/unitReport/}+${unit.unitId}" method="post" >
                   <p style="color:white; ">Print Report</p>
                   <button class="btn btn-danger" type="submit" >Print</button>
               </form>
           </span>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <h3 class="text-center" sec:authorize="hasAuthority('BUILDMANAGER')" style="color:white;">Expenses</h3>
    <div sec:authorize="hasAuthority('BUILDMANAGER')">
                <div class="table-container" >
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-center">
                            <td style="color:white;"scope="col py-2">#</td>
                            <td style="color:white;"scope="col py-2">Date Created</td>
                            <td style="color:white;" scope="col">Description</td>
                            <td style="color:white;" scope="col">Amount</td>
                            <td style="color:white;" scope="col">Expense Type</td>
                            <td style="color:white;" scope="col">Due Date</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="text-center" th:each="expense: ${expenses}">
                            <td style="color:white;" scope="row" th:text="${expense.expenseId}">1</td>
                            <td style="color:white;" th:text="${#dates.format(expense.dateOfReceipt, 'dd/MM/yyyy')}">Date Created</td>
                            <td style="color:white;" th:text="${expense.description}" >Description</td>
                            <td style="color:white;" th:text="${expense.amount}" th:value="${expense.amount}">Amount</td>
                            <td style="color:white;" th:text="${expense.expenseType.expenseTypeName}">Expense Type</td>
                            <td style="color:white;" th:text="${#dates.format(expense.dueDate, 'dd/MM/yyyy')}">Due Date</td>
                          </tr>
                        </tbody>

                    </table>
                    <div sec:authorize="hasAuthority('BUILDMANAGER')">
                        <nav th:if="${startDate1==null||endDate1==null}" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if="${currentPage1 != 0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${currentPage1-1}+'/0'}" class="page-link" href="#">Previous</a></li>
                                <li th:if="${totalPages1!=0}" th:classappend="${currentPage1==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages1)}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${i-1}+'/0'}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                                <li th:if="${currentPage1+1 != totalPages1&&totalPages1!=0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${currentPage1+1}+'/0'}" class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                        <nav th:if="${startDate1!=null&&endDate1!=null}" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if="${currentPage1 != 0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${currentPage1-1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}" class="page-link" href="#">Previous</a></li>
                                <li th:if="${totalPages1!=0}" th:classappend="${currentPage1==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages1)}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${i-1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}"  class="page-link" href="#"><span th:text="${i}"></span></a></li>
                                <li th:if="${currentPage1+1 != totalPages1&&totalPages1!=0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/'+${currentPage1+1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}"  class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    <div sec:authorize="hasAuthority('BUILDMANAGER')">
           <span style="float:left;">
                 <p style="color:white; ">Search for a period</p>
                    <form th:action="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/0'}" method="get">
                        <input type="date"  name="startDate2" placeholder="Start Date" >
                        <input type="date"  name="endDate2" placeholder="End Date" >
                        <button class="btn btn-success" type="submit">Go</button>
                        <button class="btn btn-danger" type="submit">Reset</button>
                    </form>
           </span>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <h3 class="text-center" sec:authorize="hasAuthority('BUILDMANAGER')" style="color:white;">Incomes</h3>>
    <div sec:authorize="hasAuthority('BUILDMANAGER')">
                <div class="table-container" >
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-center">
                            <td style="color:white;"scope="col py-2">#</td>
                            <td style="color:white;" scope="col">Date of Payment</td>
                            <td style="color:white;" scope="col">Description</td>
                            <td style="color:white;" scope="col">Amount</td>
                        </tr>
                        </thead>

                        <tbody>

                        <tr class="text-center" th:each="income: ${incomes}">
                            <td style="color:white;" scope="row" th:text="${income.incomeId}">1</td>
                            <td style="color:white;" th:text="${#dates.format(income.dateOfPayment, 'dd/MM/yyyy')}">Date of Payment</td>
                            <td style="color:white;" th:text="${income.description}">Description</td>
                            <td style="color:white;" th:text="${income.amount}">Amount</td>
                        </tr>

                        </tbody>
                    </table>
                    <div sec:authorize="hasAuthority('BUILDMANAGER')">
                        <nav th:if="${startDate2==null||endDate2==null}" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if="${currentPage2 != 0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2-1}}" class="page-link" href="#">Previous</a></li>
                                <li th:if="${totalPages2!=0}" th:classappend="${currentPage2==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages2)}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                                <li th:if="${currentPage2+1 != totalPages2&&totalPages2!=0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2+1}}" class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                        <nav th:if="${startDate2!=null||endDate2!=null}" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if="${currentPage2 != 0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2-1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#">Previous</a></li>
                                <li th:if="${totalPages2!=0}" th:classappend="${currentPage2==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages2)}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${i-1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                                <li th:if="${currentPage2+1 != totalPages2&&totalPages2!=0}" class="page-item"><a th:href="@{'/manager/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2+1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
            </div>
    </div>
    <h3 class="text-center" sec:authorize="hasAuthority('COOWNERREP')" style="color:white;">Expenses</h3>
    <div sec:authorize="hasAuthority('COOWNERREP')">
        <div class="table-container" >
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <td style="color:white;"scope="col py-2">#</td>
                    <td style="color:white;"scope="col py-2">Date Created</td>
                    <td style="color:white;" scope="col">Description</td>
                    <td style="color:white;" scope="col">Amount</td>
                    <td style="color:white;" scope="col">Expense Type</td>
                    <td style="color:white;" scope="col">Due Date</td>
                </tr>
                </thead>

                <tbody>
                <tr class="text-center" th:each="expense: ${expenses}">
                    <td style="color:white;" scope="row" th:text="${expense.expenseId}">1</td>
                    <td style="color:white;" th:text="${#dates.format(expense.dateOfReceipt, 'dd/MM/yyyy')}">Date Created</td>
                    <td style="color:white;" th:text="${expense.description}">Description</td>
                    <td style="color:white;" th:text="${expense.amount}">Amount</td>
                    <td style="color:white;" th:text="${expense.expenseType.expenseTypeName}">Expense Type</td>
                    <td style="color:white;" th:text="${#dates.format(expense.dueDate, 'dd/MM/yyyy')}">Due Date</td>

                </tr>

                </tbody>
            </table>

            <div sec:authorize="hasAuthority('COOWNERREP')">
                <nav th:if="${startDate1==null||endDate1==null}" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage1 != 0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/'+${currentPage1-1}+'/0'}" class="page-link" href="#">Previous</a></li>
                        <li th:if="${totalPages1!=0}" th:classappend="${currentPage1==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages1)}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/'+${i-1}+'/0'}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                        <li th:if="${currentPage1+1 != totalPages1&&totalPages1!=0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId} +'/'+${currentPage1+1}+'/0'}" class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
                <nav th:if="${startDate1!=null||endDate1!=null}" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage1 != 0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}'+'/'+${currentPage1-1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}" class="page-link" href="#">Previous</a></li>
                        <li th:if="${totalPages1!=0}" th:classappend="${currentPage1==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages1)}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/'+${i-1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}"class="page-link" href="#"><span th:text="${i}"></span></a></li>
                        <li th:if="${currentPage1+1 != totalPages1&&totalPages1!=0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/'+${currentPage1+1}+'/0'+'?startDate1='+${startDate1}+'&endDate1='+${endDate1}}" class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div sec:authorize="hasAuthority('COOWNERREP')">
           <span style="float:left;">
                 <p style="color:white; ">Search for a period</p>
                    <form th:action="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/0'}" method="get">
                        <input type="date"  name="startDate2" placeholder="Start Date" >
                        <input type="date"  name="endDate2" placeholder="End Date" >
                        <button class="btn btn-success" type="submit">Go</button>
                          <button class="btn btn-danger" type="submit">Reset</button>
                    </form>
           </span>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <h3 class="text-center" sec:authorize="hasAuthority('COOWNERREP')" style="color:white;">Incomes</h3>>
    <div sec:authorize="hasAuthority('COOWNERREP')">
        <div class="table-container" >
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <td style="color:white;"scope="col py-2">#</td>
                    <td style="color:white;" scope="col">Date of Payment</td>
                    <td style="color:white;" scope="col">Description</td>
                    <td style="color:white;" scope="col">Amount</td>
                </tr>
                </thead>

                <tbody>

                <tr class="text-center" th:each="income: ${incomes}">
                    <td style="color:white;" scope="row" th:text="${income.incomeId}">1</td>
                    <td style="color:white;" th:text="${#dates.format(income.dateOfPayment, 'dd/MM/yyyy')}">Date of Payment</td>
                    <td style="color:white;" th:text="${income.description}">Description</td>
                    <td style="color:white;" th:text="${income.amount}">Amount</td>
                </tr>

                </tbody>
            </table>

            <div sec:authorize="hasAuthority('COOWNERREP')">
                <nav th:if="${startDate2==null||endDate2==null}" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage2 != 0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2-1}}" class="page-link" href="#">Previous</a></li>
                        <li th:if="${totalPages2!=0}"  th:classappend="${currentPage2==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages2)}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                        <li th:if="${currentPage2+1 != totalPages2&&totalPages2!=0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2+1}}" class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
                <nav th:if="${startDate2!=null||endDate2!=null}" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage2 != 0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2-1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#">Previous</a></li>
                        <li th:if="${totalPages2!=0}"  th:classappend="${currentPage2==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages2)}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${i-1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                        <li th:if="${currentPage2+1 != totalPages2&&totalPages2!=0}" class="page-item"><a th:href="@{'/coowner_rep/viewUnit/'+${unit.unitId}+'/0'+'/'+${currentPage2+1}+'?startDate2='+${startDate2}+'&endDate2='+${endDate2}}" class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <br />
    <br />
</div>
</body>
</html>
