<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:margin-inline-start="http://www.w3.org/1999/xhtml" xmlns:margin-inline-end="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title>Registration Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <style>
html {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
  .row {
        color: white;
        padding: 10px;
        font-family: Sans-Serif;
    }
tbody tr:nth-of-type(even) {
   background-color: #34495e;
}

thead{

 background: #2e8b57;
}
</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/manager/0}">Home </a>
            <a class="navbar-brand" th:href="@{/manager/addBuildComplexForm}">Add Building </a>
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<br/>
<br/>

<div class="container">
    <br/>
    <br/>
    <h2 class="text-center" style="color:white"> Building Details</h2>
    <span style="float:left;">
               <form th:action="@{/manager/buildReport/}+${buildComplex.buildComplexId}" method="post" >
                   <p style="color:white; ">Print Report</p>
                   <button style="margin-bottom: 5% " class="btn btn-danger" type="submit" >Print</button>
               </form>
           </span>
    <br/>
    <div class="table-container" >
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <td style="color:white;"scope="col py-2">#</td>
                <td style="color:white;"scope="col py-2">CoOwnerRep Username</td>
                <td style="color:white;"scope="col py-2">Password </td>
                <td style="color:white;" scope="col">Street Name</th>
                <td style="color:white;" scope="col">Street Number</th>
                <td style="color:white;" scope="col">City</th>
                <td style="color:white;" scope="col">Postal-Code</th>
                <td style="color:white;" scope="col">No Of Floors</td>
                <td style="color:white;" scope="col">Actions</td>
            </tr>
            </thead>

            <tbody>

            <tr class="text-center">
                <td style="color:white;" scope="row" th:text="${buildComplex.buildComplexId}">1</td>
                <td style="color:white;" scope="row" th:text="${buildComplex.username}">CoOwnerRep Username</td>
                <td style="color:white;" scope="row" th:text="${buildComplex.password}">Password</td>
                <td style="color:white;" th:text="${buildComplex.streetName}">Street Name</td>
                <td style="color:white;" th:text="${buildComplex.streetNumber}">Street Number</td>
                <td style="color:white;" th:text="${buildComplex.city}">City</td>
                <td style="color:white;" th:text="${buildComplex.postalCode}">Postal-Code</td>
                <td style="color:white;" th:text="${buildComplex.floors.size()}">No Of Floors</td>
                <td>
                    <button style="background-color:black"> <a style="color:white;" class="fw-bold" th:href="@{/manager/addFloorForm/}+${buildComplexId}">Add Floor</a></button>
                </td>
            </tr>

            </tbody>
        </table>
     </div>
    <br/>
    <br/>
    <h3 class="text-center" style="color:white">Info</h3>
    <span style="float:left;">
        <p style="color:white; ">Search By</p>
                    <form th:action="@{'/manager/viewBuilding/'+${buildComplex.buildComplexId}}" method="get">
                        <input type="text" name="keyword" placeholder="Service Name..." >
                        <br/>
                        <button style="margin-bottom: 4%; " class="btn btn-success" type="submit">Go</button>
                        <button style="margin-bottom: 4%; " class="btn btn-danger col-offset-5" type="submit">Reset</button>
                    </form>
           </span>
    <br/>
    <div class="table-container" >
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <td style="color:white;"scope="col py-2">#</td>
                <td style="color:white;"scope="col py-2">Service Name</td>
                <td style="color:white;"scope="col py-2">Service Description</td>
                <td style="color:white;" scope="col">Street Name</th>
                <td style="color:white;" scope="col">Street Number</th>
                <td style="color:white;" scope="col">City</th>
                <td style="color:white;" scope="col">Postal-Code</th>
                <td style="color:white;" scope="col">Contact</th>
                <td style="color:white;" scope="col">Mail</th>
                <td style="color:white;" scope="col">Actions</td>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" th:each="info: ${infos}">
                <td style="color:white;" scope="row" th:text="${info.infoId}">1</td>
                <td style="color:white;" scope="row" th:text="${info.serviceName}">Service Name</td>
                <td style="color:white;" scope="row" th:text="${info.serviceDescription}">Service Description</td>
                <td style="color:white;" th:text="${info.streetName}">Street Name</td>
                <td style="color:white;" th:text="${info.streetNumber}">Street Number</td>
                <td style="color:white;" th:text="${info.city}">City</td>
                <td style="color:white;" th:text="${info.postalCode}">Postal-Code</td>
                <td style="color:white;" th:text="${info.contact}">Contact</td>
                <td style="color:white;" th:text="${info.mail}">Mail</td>
                <td>
                    <button style="background-color:black"> <a style="color:white;" class="fw-bold" th:href="@{/manager/updateInfoForm/}+${info.infoId}">Update</a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
   <br/>
   <br/>
    <h3 class="text-center" style="color:white">Floors</h3>
                <div class="table-container" >
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-center">
                            <td style="color:white;"scope="col py-2">#</td>
                            <td style="color:white;" scope="col">Floor Name</td>
                            <td style="color:white;" scope="col">Actions</td>
                        </tr>
                        </thead>

                        <tbody>

                        <tr class="text-center" th:each="floor: ${floors}">
                            <td style="color:white;" scope="row" th:text="${floor.floorId}">1</td>
                            <td style="color:white;" th:text="${floor.floorName}">The name</td>
                            <td>
                                <button style="background-color:red">  <a style="color:white;" class="fw-bold" th:href="@{'/manager/viewFloor/'+${floor.floorId}+'/0'}">View</a></button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
    <br/>
    <br/>
 </div>
</body>
</html>
